In [1]:
!pip freeze | grep scikit-learn

scikit-learn==1.1.1

In [2]:
import pickle
import pandas as pd

In [3]:
with open('model.bin', 'rb') as f_in:
    dv, lr = pickle.load(f_in)

/Users/pslisenk/miniforge3/envs/mlops-zoomcamp/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DictVectorizer from version 1.0.2 when using version 1.1.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/pslisenk/miniforge3/envs/mlops-zoomcamp/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator LinearRegression from version 1.0.2 when using version 1.1.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [4]:
categorical = ['PUlocationID', 'DOlocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.dropOff_datetime - df.pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [7]:
df = read_data('https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-02.parquet')

In [8]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = lr.predict(X_val)

In [11]:
type(y_pred)

numpy.ndarray

In [12]:
y_pred.mean()

16.191691679979066

In [13]:
df['ride_id'] = f'2021/02_' + df.index.astype('str')

In [14]:
df_result = pd.DataFrame({'ride_id': df['ride_id'], 
                          'pred': y_pred})
df_result

                 ride_id       pred
1              2021/02_1  14.539865
2              2021/02_2  13.740422
3              2021/02_3  15.593339
4              2021/02_4  15.188118
5              2021/02_5  13.817206
...                  ...        ...
1037687  2021/02_1037687  12.433246
1037688  2021/02_1037688  12.910885
1037689  2021/02_1037689  15.834923
1037690  2021/02_1037690  16.783176
1037691  2021/02_1037691  19.654626

[990113 rows x 2 columns]

In [16]:
df_result.to_parquet(
    'predictions.parquet',
    engine='pyarrow',
    compression=None,
    index=False
)